@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,900;1,400&family=Playfair+Display:wght@500&family=Roboto:ital,wght@0,400;0,700;1,400;1,500&family=Style+Script&display=swap');

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

/* css link das paginas inicio */
.bg{
    background-color: black;
    color: whitesmoke;
}
.nav-link:hover {
    background: linear-gradient(45deg, rgb(113, 113, 113), rgb(232, 152, 5));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-link {
    font-family: Arial, Helvetica, sans-serif;
    Helvetica: sans-serif;
    font-weight: 600;
    letter-spacting: 1px;
    position: relative;
    transition: 0.5s;
    color: whitesmoke;
}
.nav-link::before {
    content: '';
    position: absolute;
    height: 2.5px;
    bottom: -5px;
    width: 0;
    border-radius: 50px;
    background: linear-gradient(45deg, rgb(255, 255, 255), rgb(232, 152, 5));
    transition: 0.5s;

}
.nav-link:hover::before {
    width: 100%;
}
/* css link das paginas fim */


.logo
{
width: 60px;
border-radius: 50%;
}

body{
    background-color: rgb(104, 104, 104);
}

.gti {
    background-image: url(img/sustenta.jpg);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    align-items: center;
    height: 90vh;
}

p {
    font-family: 'Montserrat', Italic, sans-serif;
    color: black;
}
h3 {
    color: #030303;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: 500;
    text-shadow: 3px 3px 3px rgb(104, 104, 104), -1px -1px 1px rgb(210, 195, 195);
}
.h1-2{
    font-family:'Montserrat', sans-serif ;
    font-size: 50px;
    font-weight: bold;
    color: #fd8701;
}
i{
    font-size: 25px;
}